<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
   
   <header style="background-color:crimson">
       <h3>This is Header</h3>
   </header>
        @RenderBody()
    <footer style="background-color:dimgrey">
        <h3>Footer Portion</h3>
    </footer>
</body>
</html>
